In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=67f46d06ef85b929268ecde7d27e356671f74f77ba490a1714f8b4ad99339ba9
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder\
        .appName('Spark_colab')\
        .getOrCreate()

In [ ]:
spark

In [ ]:
# dataframereader.format().option().schema().load()

csvFile = spark.read.format("csv")\
          .option("header","true")\
          .option("inferSchema","true")\
          .option("mode","FAILFAST")\
          .load("/content/2015-summary.csv")

In [ ]:
csvFile.show(5,False)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+
only showing top 5 rows

In [ ]:
# dataframewrite.format().option().save()
csvFile.write.format("csv").mode("overwrite").option("sep","\t").save("/content/my-csv-file.tsv")

In [ ]:
#JSON File

jsonFile = spark.read.format("json")\
            .option("mode","FAILFAST")\
            .option("inferSchema","true")\
            .load("/content/2015-summary.json")

In [ ]:
jsonFile.show(5,False)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+
only showing top 5 rows

In [ ]:
jsonFile.write.format("json").option("mode","overwrite").save("/content/my-json-file")

In [ ]:
parquetFile = spark.read.format("parquet").option("mode","FAILFAST")\
    .option("inferSchema","true").load("/content/part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet")

In [ ]:
parquetFile.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [ ]:
parquetFile.write.format("parquet").option("mode","overwrite").save("/content/my-parquet-file")

In [ ]:
spark.read.format("orc").load("/content/part-r-00000-2c4f7d96-e703-4de3-af1b-1441d172c80f.snappy.orc").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [ ]:
csvFile.write.format("orc").mode("overwrite").save("/content/my-json-file.orc")

In [ ]:
csvFile.repartition(5).write.format("csv").mode("overwrite").save("/content/multiple-csv-files")

In [ ]:
csvFile.limit(10).write.format("parquet").mode("overwrite").partitionBy("DEST_COUNTRY_NAME")\
.save("/content/partitioned-files.parquet")

In [ ]:
numberBuckets = 10
columnToBucketBy = "count"
csvFile.write.format("parquet").mode("overwrite").bucketBy(numberBuckets,columnToBucketBy).saveAsTable("bucketedFiles")